.folderrow p {
    margin: 0px;
    padding: 0px;

}

.empty-message {
    padding-top: 80px;
}

.fontBlack {
    color: black;
}

.Available-folder {
    font-size: 14px;
    background-color: #0072D2;
    color: white;
    margin-left: -16px;
}

.Unavailable-folder {
    font-size: 14px;
    background-color: #a80000;
    color: white;
    margin-left: -16px;
}

.Unavailable-folder-row {
    font-weight: 200;
}

.in-your-possession-folder {
    font-size: 14px;
    background-color: #004b1c;
    color: white;
    margin-left: -16px;
}

.in-your-possession-folder-row {
    font-weight: 200;
}

.in-checkout-folder {
    font-size: 14px;
    background-color: gray;
    color: white;
    margin-left: -16px;
    visibility: hidden;
}

.in-checkout-folder-row {
    font-weight: 200;
}