.center {
    text-align: center;
}
.boxlist-row p {
    margin: 0px;
    padding: 0px;
}
.boxlist-row button {
    border: 0px;
    background: transparent;
    outline: none;
    color: rgb(0, 120, 215);
    padding: 0px;
    font-size: 15px;
    cursor: pointer;
}
.boxlist-row-disabled p {
    margin: 0px;
    padding: 0px;
    color: gray;
    cursor: not-allowed;
}

.boxlist-row-createfolder p {
    color: rgb(0, 120, 215);
    cursor: pointer;
}