.center {
    text-align: center;
}
.boxlist-row p {
    margin: 0px;
    padding: 0px;
}
.Available-box {
    font-size: 14px;
    background-color: #0072D2;
    color: white;
    margin-left: -16px;
}

.Unavailable-box {
    font-size: 14px;
    background-color: #a80000;
    color: white;
    margin-left: -16px;
}

.in-your-possession-box {
    font-size: 14px;
    background-color: #004b1c;
    color: white;
    margin-left: -16px;
}

.in-checkout-box {
    font-size: 14px;
    background-color: gray;
    color: white;
    margin-left: -16px;
}

.fontBlack {
    color: black;
}

