.center {
    text-align: center;
}
.boxlist-row p {
    margin: 0px;
    padding: 0px;
}
.Available {
    font-size: 14;
    background-color: #0072D2;
    color: white;
    margin-left: -16px;
}

.Unavailable {
    font-size: 14;
    background-color: #a80000;
    color: white;
    margin-left: -16px;
}

.in-your-possession {
    font-size: 14;
    background-color: #004b1c;
    color: white;
    margin-left: -16px;
}

.in-checkout {
    font-size: 14;
    background-color: #ffb900;
    color: white;
    margin-left: -16px;
}

.fontBlack {
    color: black;
}

