{
    "parser": "typescript",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "jsxBracketSameLine": false,
    "bracketSpacing": true,
    "useTabs": false,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        },
        {
            "files": "*.json",
            "options": { "parser": "json" }
        }
    ]
}
