.checkout-row {
    font-size: 15px;
    p {
        margin: 0px;
        padding: 4px;
    }
    div {
        padding: 0px !important;
        display: inline-flex;
    }
    i {
        color: rgb(0, 120, 215);
        font-size: 15px;
    }
}

.checkout-submit {
    text-align: center;
    padding-top: 10px;
}

.delete-icon {
    cursor: pointer;
}
